<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload a File</h3>
      </div>
      <hr/>
      <div>
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>

    <div class="header">
        <h3 class="text-muted">Download/Delete Files</h3>
      </div>
    <hr>

    <div>
      <a href='list'>List of files</a>
    </div>
  </body>
</html>